body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  margin: 0;
}

#insert {
  text-align: center;
}

.key {
  background-color: #444;
  border: 2px solid #555;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block;
  min-width: 150px;
}

.key:focus {
  outline: none;
  border-color: #008cba;
  background-color: #555;
  transform: scale(1.05);
}

small {
  display: block;
  font-size: 12px;
  color: #ccc;
}
